@model WebApplication2.Models.Form
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datos</title>
</head>
<body>
    <div>
        <!--Datos-->
        <label>Nombre: @Model.Name</label>
        <br />
        <br />
        <label>Apellido: @Model.Last)</label>
        <br />
        <br />
        <label>Cedula: @Model.Cedula)</label>
        <br />
        <br />
        <label>Edad: @Model.Age</label>
        <br />
        <br />
        <label>Telefono: @Model.Tel</label>
        <br />
        <br />
        <label>Email: @Model.Email</label>
        <br />
        <br />
        <label>Genero: @Model.Gender</label>
        <br />
        <br />
        <label>EstadoCivil: @Model.CivilStatus</label>
        <br />
        <br />
        <label>Hobbys: @Model.HobbieDefinitivo</label>
        <br />
        <br />
    </div>

</body>
</html>